#root {
  height: 100vh;
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif;
}

ol, ul {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

